
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}
.logo {
    color:#242424;
    font-weight: bolder;
    font-size: 25px;
  
}
.logo:hover{
    color: #242424;
}
nav .menu{
    display: flex;
  
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;
   
}

nav .menu li a:hover{
    background-color: #04c935;
    color:#ffffff;
  
    
    
}
.sign_btn{
    margin-right: 1%;
   
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04c935;
    color: white;
    font-weight: bold;
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}#signDiv{
    height: 100%;
    margin-top: 200px;
    }
#leftSignIn{
    height: 100%;
   
}
#signDiv form{

    background: #CFDAC8;
    padding: 16px;
    margin: 2%;
    border-radius: 5%;
}
.form-check{
    margin-top: 10px;
}
.btn-success{
    width: 100%;
   box-sizing: border-box;
   padding: 10px 0;
   margin-top: 20px;
   outline: none;
   border: none;
   background:#22BB33;
   
   border-radius: 10px;
   font-size: 20px;
   color: #fff;
   margin-bottom: 10px;
   
   transition: .5s ;
  
}
.btn-success:hover{
    cursor: pointer;
    background-color: #fff;
    color:#22BB33 ;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 110px;
 
}
footer p{
    color:#5e5e5e;
    margin: 10px 0px;
    font-size: 0.9rem;
}
@media(max-width:700px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
       display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #fff;
        border-bottom:4px solid #242424;
        width:100%;
        padding:0px;
        margin:0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding:25px;
        border:1px solid rgba(38,38,38,0.03);
    }
 
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
       
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
 
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}