@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    padding-top:50px;
}
ul{
    list-style: none;
   
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.logo {
    color:#242424;
    font-weight: bolder;
    font-size: 25px; 
}
.logo:hover{
    text-decoration: none;
    color:#242424 ;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;
}

nav .menu li a:hover{
    background-color: #04c935;
    color:#ffffff;
    transition: all ease 0.2s;
    text-decoration: none;
    
    

    
}


.sign_btn{
    margin-right: 1%;
   
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04c935;
    color: white;
    font-weight: bold;
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.pic
{
    background-image: url('../img/10.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:705px;
}
.pic .topic1 .container 
{
    padding-top: 8%;
    padding-left: 46%;
    opacity: 1;
}
.pic .topic1 .container h1
{
    color:#04c935;
    font-size: 50px;
    font-weight: bold;
}
.pic .topic1 .container p
{
    color:white;
    font-size: 22px;
    line-height: 1.5em;
}
.pic .topic1 .container button
{
    margin-left: 2%;
    margin-top: 12px;
    width: 170px;
}
.devices
{
    margin-top: 150px;
}
.devices h2
{
    color:black ;
    font-weight: bold;
    margin-top: 40px;
}
.devices p
{
    color: rgba(0, 0, 0, 0.774);
    line-height: 1.5em;
    margin-top: 30px;
    font-size: 20px;
}
hr
{
    width:40px;
    background-color: #04c935;
    border: 3px solid #04c935;
    border-radius: 10px;
    margin-left: 172px;
}
.devices button
{
    width: 120px;
    font-size: 16px;
}
.playlist hr
{
    margin-left: 156px;
}
.hd hr
{
    margin-left: 202px; 
}
.hr1
{
    border: .1px solid #ddd;
    background-color: #ddd;
    width:auto;
    margin-left: 0;
    margin-top: 130px;
}
.price 
{
    background-color: rgba(238, 238, 238, 0.404);
    padding-top: 66px;
    padding-bottom: 40px;
    margin-top: 120px;
    height: 860px;
    font-family: 'poppins';
}
.price h1
{
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.hr2
{
    margin-left: 550px;
    margin-bottom: 55px;
}
i
{
    color: #04c935;
    padding-right: 5px;
}
.tx1
{
    text-align: left;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-left: 20px;
}
.fa-check
{
    color: #04c935;
    margin-right:5px;
}
.price .pr1
{
    background-color: white;
    padding: 10px;
    border: 0px hidden;
    padding-top: 40px;
    height: 475px;
}
.price .pr1 button
{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: .1px solid #ddd;
    width: 150px;
    font-weight: 800;
    height: 40px;
    margin-bottom: 25px;
    transition: .5s ;
}
.price .pr1 button:hover
{
    background-color:#04c935;
    color: white;
}
.price .pr1 h1
{
    color: #04c935;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 35px;
}
.fa-dollar-sign
{
    font-size: 35px;
    color: rgb(180, 179, 179);
    padding:0;
    margin-left:0 ;
}
.price .pr1 h1 .mth
{
    font-size: 18px;
}
.price .pr1 p
{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.price .pr1 .btn1, .btn-success
{
    margin-top: 40px;
    padding: 10px;
    border: 0.5px solid #04c935;
    
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
}
.price .pr1 .btn-success
{
    background-color: #04c935;
    border: hidden;
    color: white;
}
.ft1
{
    margin-top: 20px;
    text-align: right;
}
.ft1 .container span
{
    float: left;
    font-weight: bold;
    margin-top: 6px;
}
@media(max-width:700px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
       display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #fff;
        border-bottom:4px solid #242424;
        width:100%;
        padding:0px;
        margin:0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding:25px;
        border:1px solid rgba(38,38,38,0.03);
    }
 
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
       
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
 
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}
